body {
  font-family: 'TT Norms Pro';
  font-size: 16px;
  color: black;
}
*:focus {
  outline: -webkit-focus-ring-color auto 0px !important;
}
header {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
}
header nav {
  width: 100%;
  height: 100px;
}
header .dropdown-menu {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  border: none;
}
header .dropdown-menu .dropdown-item {
  font-weight: 400;
  font-size: 10.6604px;
  line-height: 13px;
  color: #333333;
  padding: 9px 20px 9px 26px;
  display: flex;
  align-items: center;
}
header .dropdown-menu .dropdown-item span {
  margin-right: 8px;
  width: 20px;
  display: inline-block;
  text-align: center;
}
header .nav-item .nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}
header .nav-item .nav-link:hover {
  color: #00AC4E;
}
header .nav-item {
  padding: 0 22px;
}
header .dropdown-toggle::after {
  display: none;
}
header .menu-right {
  align-items: center;
}
header .menu-right .menu-contact {
  margin-right: 35px;
}
header .menu-right .menu-contact a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}
header .menu-right .menu-contact a img {
  margin-right: 5px;
}
header .menu-right .menu-user a,
header .menu-right .menu-user button {
  margin-left: 30px;
}
header .menu-right .menu-user button {
  background: none;
  border: none;
  padding: 0;
}
.home-banner {
  padding-top: 60px;
}
.home-banner .swiper-pagination-bullet {
  background: #00AC4E;
}
.home-banner .block {
  background: linear-gradient(180deg, #F1F1FB 0%, #EBEBF5 100%);
  position: relative;
  box-shadow: 0px 0px 18.0727px rgba(0, 0, 0, 0.03);
  border-radius: 18.0727px;
  height: 253.71px;
  width: 100%;
  overflow: hidden;
  padding: 40px;
}
.home-banner .block h2 {
  font-weight: 400;
  font-size: 31.6273px;
  line-height: 38px;
  color: #333333;
}
.home-banner .block p {
  font-weight: 400;
  font-size: 19.88px;
  line-height: 24px;
  color: #828282;
}
.home-banner .block a {
  font-weight: 500;
  font-size: 25.3018px;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: none;
  width: 217.47px;
  height: 52.55px;
  background: #00AC4E;
  border-radius: 4.51818px;
  display: block;
  text-align: center;
  line-height: 53px;
  margin-top: 34px;
}
.home-banner .block .swiper-button-next {
  opacity: 0;
  color: #00AC4E;
}
.home-banner .block .swiper-button-prev {
  opacity: 0;
  color: #00AC4E;
}
.home-banner .block:hover .swiper-button-next {
  opacity: 80%;
}
.home-banner .block:hover .swiper-button-prev {
  opacity: 80%;
}
.home-banner .block img {
  position: absolute;
  top: 0;
  right: 0;
}
.home-menu {
  padding: 30px;
}
.home-menu .container .swiper-button-next:after,
.home-menu .container .swiper-rtl .swiper-button-prev:after {
  content: '';
  background-image: url(img/header/row.png);
  width: 14px;
  height: 24px;
}
.home-menu .container .swiper-menu {
  position: relative;
  overflow: hidden;
  width: calc(100% + 16px);
}
.home-menu .container .swiper-menu a {
  font-weight: 300;
  font-size: 23.3333px;
  line-height: 27px;
  color: #4F4F4F;
  text-decoration: none;
  text-transform: uppercase;
  width: auto !important;
  padding: 8px 16px;
}
.home-menu .container .swiper-menu a.active {
  background: #00AC4E;
  color: white;
  border-radius: 5px;
}
.home-products {
  padding-bottom: 68px;
}
.home-products h3.all_products {
  margin-bottom: 39px;
}
.home-products .product-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home-products .product-wrapper .product {
  width: 205px;
  margin-bottom: 56px;
}
.home-products .product-wrapper .product .img {
  margin-bottom: 9px;
  background-image: url(img/prd/product.png);
  background-color: #E6E6E6;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4.52641px;
  height: 125px;
  overflow: hidden;
}
.home-products .product-wrapper .product .img img {
  width: 100%;
  height: 100;
}
.home-products .product-wrapper .product .title {
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 14.4845px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
}
.home-products .product-wrapper .product .description {
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 12.674px;
  line-height: 19px;
  color: #000000;
}
.home-products .product-wrapper .product .rating {
  margin-bottom: 9px;
}
.home-products .product-wrapper .product .rating span {
  background: url(img/prd/star_fill.jpg);
  width: 13px;
  height: 13px;
  display: inline-block;
}
.home-products .product-wrapper .product .rating span.active {
  background: url(img/prd/star.jpg);
}
.home-products .product-wrapper .product .price b {
  font-weight: 500;
  font-size: 18.1056px;
  line-height: 23px;
  color: #000000;
  margin-right: 18px;
}
.home-products .product-wrapper .product .price span {
  font-weight: 400;
  font-size: 12.674px;
  line-height: 23px;
  color: #828282;
}
.home-products .product-wrapper .product a.to-cart {
  width: 140.32px;
  height: 38.02px;
  background: #00AC4E;
  border-radius: 4.52641px;
  font-weight: 500;
  font-size: 18.1056px;
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  margin-top: 13px;
}
.home-products .product-wrapper .product a.to-cart:hover {
  text-decoration: none;
}
.home-products .pagination {
  display: flex;
  justify-content: center;
}
.home-products .pagination ul li a {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  width: 41px;
  height: 41px;
  border-radius: 5px;
  text-align: center;
  background-color: none;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-products .pagination ul li.active a {
  background: #00AC4E;
  color: white;
  margin: 0 10px;
}
.home-video {
  padding-bottom: 60px;
}
.delivery {
  padding: 60px 0;
}
.delivery .block {
  height: 253.71px;
  width: 100%;
  background: #F2F2F2;
  box-shadow: 0px 0px 18.0727px rgba(0, 0, 0, 0.03);
  border-radius: 18.0727px;
  padding: 30px 0 30px 40px;
  background-image: url(img/prd/bus.png);
  background-position: center right;
  background-repeat: no-repeat;
}
.delivery .block .title {
  font-size: 31.6273px;
  line-height: 38px;
  color: #333333;
}
.delivery .block a {
  font-weight: 500;
  font-size: 25.3018px;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: none;
  width: 170px;
  height: 52.55px;
  background: #00AC4E;
  border-radius: 4.51818px;
  display: block;
  text-align: center;
  line-height: 53px;
  margin-top: 34px;
}
footer {
  background: #00AC4E;
  padding: 34px 0;
  color: #FFFFFF;
}
footer a {
  color: #FFFFFF;
}
footer a:hover {
  color: #FFFFFF;
  text-decoration: none;
}
footer .footer_bottom {
  margin-top: 12px;
  font-size: 12.3407px;
  line-height: 32px;
}
footer .footer_bottom a {
  font-size: 12.3407px;
  line-height: 32px;
  margin-left: 33px;
}
footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
}
footer .footer-wrapper .footer-left .phones {
  display: flex;
  justify-content: space-between;
}
footer .footer-wrapper .footer-left .phones .phone-item {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}
footer .footer-wrapper .footer-left .phones .phone-item:last-child {
  margin-right: 0;
}
footer .footer-wrapper .footer-left .phones .phone-item span {
  font-weight: 400;
  font-size: 12.3407px;
  line-height: 32px;
}
footer .footer-wrapper .footer-left .phones .phone-item a {
  font-weight: 500;
  font-size: 18.511px;
  line-height: 39px;
}
footer .footer-wrapper .footer-left .phones .phone-item a:hover {
  text-decoration: none;
}
footer .footer-wrapper .footer-left .work-time {
  font-weight: 400;
  font-size: 15.4259px;
  line-height: 32px;
  margin: 10px 0;
}
footer .footer-wrapper .footer-left .work-email {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18.511px;
  line-height: 32px;
}
footer .footer-wrapper .footer-left .work-email a.site-help {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  margin-top: 15px;
}
footer .footer-wrapper .footer-center .social {
  display: flex;
  flex-direction: column;
}
footer .footer-wrapper .footer-center .social a {
  font-weight: 500;
  font-size: 15.4259px;
  line-height: 32px;
  letter-spacing: 3.08517px;
  font-variant: small-caps;
}
footer .footer-wrapper .footer-right .person a {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15.4259px;
  line-height: 32px;
}
footer .footer-wrapper .footer-right .person a img {
  margin-right: 7px;
}
/* Page */
.page-block {
  padding: 45px 0 78px;
  overflow: hidden;
}
.page-block .page-content-wrapper h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  margin-bottom: 25px;
}
.page-block .page-content-wrapper p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #828282;
}
.page-block .page-content-wrapper .d-flex {
  margin-top: 45px;
}
.page-block .page-content-wrapper .green_btn {
  background: #00AC4E;
  border-radius: 7px;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 38px;
  text-decoration: none;
  margin-right: 60px;
}
.page-block .page-content-wrapper .green_btn:hover {
  color: white;
}
.page-block .page-content-wrapper .white_btn {
  border-radius: 7px;
  font-weight: 400;
  font-size: 22.2162px;
  line-height: 29px;
  text-align: center;
  color: #00AC4E;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-right: 60px;
}
.page-block .page-content-wrapper .white_btn img {
  margin-left: 9px;
  position: relative;
  top: 1px;
}
/* Booking */
.form-support {
  padding: 45px 0 98px;
  width: 672px;
}
.form-support input {
  background: #F9F9F9;
  border-radius: 5px;
  border: none;
  height: 174px;
  width: 100%;
  padding: 20px;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 21px;
  color: black;
  margin-bottom: 45px;
}
.form-support input::placeholder {
  position: relative;
  bottom: 65px;
}
.form-support button {
  width: 189.23px;
  height: 60px;
  background: #00AC4E;
  border-radius: 7.8169px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18.7606px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  border: none;
}
/* Card */
.card-product {
  padding: 60px 0;
}
.card-product .card-top {
  display: flex;
  justify-content: space-between;
}
.card-product .card-top .card-img {
  width: 67%;
  height: 426px;
  background: #F9F9F9;
  border-radius: 15px;
  background-image: url(../style/img/card/bg_card.png);
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.card-product .card-top .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-product .card-top .card-sidebar {
  width: 30%;
  background: #FFFFFF;
  box-shadow: 0px 0px 27.1091px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-product .card-top .card-sidebar .title {
  font-weight: 500;
  font-size: 18.0727px;
  line-height: 23px;
  color: #000000;
  margin-bottom: -20px;
}
.card-product .card-top .card-sidebar .rating {
  margin-bottom: -16px;
}
.card-product .card-top .card-sidebar .rating span {
  background: url(img/prd/star_fill.jpg);
  width: 13px;
  height: 13px;
  display: inline-block;
}
.card-product .card-top .card-sidebar .rating span.active {
  background: url(img/prd/star.jpg);
}
.card-product .card-top .card-sidebar .reviews {
  font-weight: 400;
  font-size: 12.6509px;
  line-height: 19px;
  color: #C6C6C6;
}
.card-product .card-top .card-sidebar .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-product .card-top .card-sidebar .price span {
  font-weight: 500;
  font-size: 14.4582px;
  line-height: 22px;
  color: #C6C6C6;
}
.card-product .card-top .card-sidebar .price b {
  font-weight: 500;
  font-size: 18.0727px;
  line-height: 23px;
  color: #000000;
}
.card-product .card-top .card-sidebar .price .input_range {
  width: 116.57px;
  height: 42.47px;
  background: #FCFCFC;
  border: 0.903636px solid #EBEBEB;
  border-radius: 9.03636px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
}
.card-product .card-top .card-sidebar .price .input_range::after {
  content: attr(data-desc);
  position: absolute;
  bottom: -18px;
  right: 0;
  font-weight: 400;
  font-size: 9.03636px;
  line-height: 14px;
  color: #C6C6C6;
}
.card-product .card-top .card-sidebar .price .input_range span.button {
  width: 30%;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}
.card-product .card-top .card-sidebar .price .input_range span.button.plus {
  color: #00AC4E;
}
.card-product .card-top .card-sidebar .price .input_range input {
  width: 40%;
  text-align: center;
  border: none;
  background: none;
}
.card-product .card-top .card-sidebar .to-pay span {
  font-weight: 500;
  font-size: 14.4582px;
  line-height: 22px;
  color: #000000;
}
.card-product .card-top .card-sidebar .to-pay b {
  font-weight: 500;
  font-size: 18.0727px;
  line-height: 23px;
  color: #00AC4E;
}
.card-product .card-top .card-sidebar .pay-block {
  display: flex;
  justify-content: space-between;
}
.card-product .card-top .card-sidebar .pay-block .cart-add {
  border: none;
  background-image: url(../style/img/card/mk.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 48.8px;
  height: 49px;
  background-color: #00AC4E;
  border-radius: 4.51818px;
}
.card-product .card-top .card-sidebar .pay-block .pay-popup {
  width: 260px;
  height: 49px;
  background: #00AC4E;
  border-radius: 4.51818px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18.0727px;
  line-height: 23px;
  color: #FFFFFF;
  border: none;
}
.card-product .card-bottom {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.card-product .card-bottom .card-info {
  width: 67%;
}
.card-product .card-bottom .card-info .nav-tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 0px solid transparent;
  padding-right: 35px;
  margin-bottom: 40px;
}
.card-product .card-bottom .card-info .nav-tabs .nav-link {
  font-weight: 400;
  font-size: 28.8639px;
  line-height: 19px;
  color: #828282;
  cursor: pointer;
  border: 0px solid transparent;
  padding: 0;
}
.card-product .card-bottom .card-info .nav-tabs .nav-link.active {
  font-weight: 500;
  font-size: 28.8639px;
  line-height: 19px;
  color: #00AC4E;
}
.card-product .card-bottom .card-info .tab-content > .tab-pane {
  padding: 0;
  position: relative;
}
.card-product .card-bottom .card-info .tab-content > .tab-pane .product_ul {
  margin: 0;
  padding: 0;
}
.card-product .card-bottom .card-info .tab-content > .tab-pane .product_ul li {
  list-style: none;
  font-size: 18px;
  line-height: px;
  color: #828282;
}
.card-product .card-bottom .card-info .tab-content > .tab-pane .product_ul li b {
  font-weight: 600;
}
.card-product .card-bottom .card-info .tab-content > .tab-pane h2.tab {
  font-weight: 500;
  font-size: 21.6479px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 22px;
}
.card-product .card-bottom .card-info .tab-content > .tab-pane p {
  font-weight: 400;
  font-size: 18.0399px;
  line-height: 19px;
  color: #828282;
  padding-right: 35px;
}
.card-product .card-bottom .card-info .tab-content > .tab-pane .swiper {
  position: relative;
  overflow: hidden;
  width: calc(100% - 77px);
}
.card-product .card-bottom .card-info .tab-content > .tab-pane .swiper .swiper-button-next {
  font-weight: 500;
  font-size: 11.1818px;
  line-height: 12px;
  color: #00AC4E;
  padding-right: 5px;
}
.card-product .card-bottom .card-info .tab-content > .tab-pane .swiper .swiper-button-next:after {
  content: '';
}
.card-product .card-bottom .card-info .tab-content > .tab-pane .swiper .swiper-button-next img {
  margin-right: 5px;
}
.card-product .card-bottom .card-info .tab-content > .tab-pane .swiper .swiper-wrapper .swiper-slide {
  background: rgba(242, 242, 242, 0.75);
  border-radius: 11.1818px;
  padding: 15px;
}
.card-product .card-bottom .card-info .tab-content > .tab-pane .swiper .swiper-wrapper .swiper-slide .rev_header {
  display: flex;
  margin-bottom: 5px;
}
.card-product .card-bottom .card-info .tab-content > .tab-pane .swiper .swiper-wrapper .swiper-slide .rev_header .avatar {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
.card-product .card-bottom .card-info .tab-content > .tab-pane .swiper .swiper-wrapper .swiper-slide .rev_header .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #00AC4E;
}
.card-product .card-bottom .card-info .tab-content > .tab-pane .swiper .swiper-wrapper .swiper-slide .rev_header .rev_avatar {
  display: flex;
  flex-direction: column;
}
.card-product .card-bottom .card-info .tab-content > .tab-pane .swiper .swiper-wrapper .swiper-slide .rev_header .rev_avatar .rev_name {
  font-weight: 500;
  font-size: 18px;
  line-height: 13px;
  color: #000000;
  margin-bottom: 8px;
}
.card-product .card-bottom .card-info .tab-content > .tab-pane .swiper .swiper-wrapper .swiper-slide .rev_header .rev_avatar .rev_name img {
  margin-left: 8px;
}
.card-product .card-bottom .card-info .tab-content > .tab-pane .swiper .swiper-wrapper .swiper-slide .rev_header .rev_avatar .rev_social {
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  text-decoration-line: underline;
  color: #2D9CDB;
  margin-bottom: 8px;
}
.card-product .card-bottom .card-info .tab-content > .tab-pane .swiper .swiper-wrapper .swiper-slide .rev_header .rev_avatar .rating {
  display: flex;
  margin-bottom: 8px;
}
.card-product .card-bottom .card-info .tab-content > .tab-pane .swiper .swiper-wrapper .swiper-slide .rev_header .rev_avatar .rating span {
  background: url(img/prd/star_fill.jpg);
  width: 13px;
  height: 13px;
  background-size: cover;
}
.card-product .card-bottom .card-info .tab-content > .tab-pane .swiper .swiper-wrapper .swiper-slide .rev_header .rev_avatar .rating span.active {
  background: url(img/prd/star.jpg);
  background-size: cover;
}
.card-product .card-bottom .card-info .tab-content > .tab-pane .swiper .swiper-wrapper .swiper-slide .rev_footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #000000;
}
.card-product .card-bottom .card-info .tab-content > .tab-pane .swiper .swiper-wrapper .swiper-slide .rev_footer a {
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #00AC4E;
}
.card-product .card-bottom .card-sidebar {
  width: 30%;
  background: #FFFFFF;
  box-shadow: 0px 0px 27.1091px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  padding: 30px;
}
.card-product .card-bottom .card-sidebar .title {
  font-weight: 400;
  font-size: 14.5089px;
  line-height: 17px;
  color: #000000;
}
.card-product .card-bottom .card-sidebar .line {
  font-weight: 500;
  font-size: 14.5089px;
  line-height: 17px;
  color: #000000;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.card-product .card-bottom .card-sidebar .line img {
  margin-right: 15px;
}
.card-product .card-bottom .card-sidebar .range-slide {
  margin-top: 32px;
  margin-left: 15px;
  margin-right: 39px;
}
.card-product .card-bottom .card-sidebar .range-slide .range-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  color: #000000;
  text-align: center;
  margin-top: 10px;
}
.card-product .card-bottom .card-sidebar .range-slide .range-line {
  width: 100%;
  height: 3px;
  background: #F2F2F2;
  border-radius: 2.28221px;
  position: relative;
}
.card-product .card-bottom .card-sidebar .range-slide .range-line:before {
  content: attr(data-mins);
  font-weight: 500;
  font-size: 10.8817px;
  line-height: 13px;
  color: #000000;
  position: absolute;
  top: -5px;
  left: -15px;
}
.card-product .card-bottom .card-sidebar .range-slide .range-line:after {
  content: attr(data-maxs);
  font-weight: 500;
  font-size: 10.8817px;
  line-height: 13px;
  color: #000000;
  position: absolute;
  top: -5px;
  right: -39px;
}
.card-product .card-bottom .card-sidebar .range-slide .range-line .green-line {
  position: absolute;
  top: 0;
  left: 0;
  background: #00AC4E;
  border-radius: 3px;
  height: 100%;
}
.card-product .card-bottom .card-sidebar .range-slide .range-line .round {
  width: 11.17px;
  height: 11.17px;
  background: #00AC4E;
  border: 1.39665px solid #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  left: 33%;
  transform: translateX(-50%);
}
.card-product .card-bottom .card-sidebar .range-slide .range-line .round:before {
  content: attr(data-min);
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  position: absolute;
  top: -20px;
  left: 0;
  width: 200px;
  transform: translateX(-23%);
}
